node_modules/
package-lock.json
dist/

# AI
.claude/

# IDE
.code/

# Python
.venv/
venv/

# environment
.env
.env.*

# Dependencies
node_modules/
jspm_packages/
web_modules/

# TypeScript Build Artifacts
*.tsbuildinfo
dist/
build/
out/
./lib/

# Generated JavaScript (Only use if you compile JS files directly next to TS files)
# src/**/*.js
# src/**/*.js.map
# src/**/*.d.ts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data & Caches
.pids
*.pid
*.seed
*.pid.lock
.npm
.eslintcache
.stylelintcache
.prettiercache
.parcel-cache
.turbo/
.next/
.nuxt/

# Testing & Coverage
coverage/
.nyc_output/
*.lcov

# Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# IDEs and Editors
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db


# SonnarQube
.sonarlint/
.scannerwork/
sonar-project.properties